@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --dark-blue: #012E5C;
    --white: #F0EFE6;
    --dark-red: #B42E2E;
    --yellow: #EC9433;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0px auto;
}
.section-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title{
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    color: var(--dark-blue);
    padding: 10px 15px;
    border-radius: 8px;
}
/* ======== header ========== */
.header{
    height: 500px;
    background-image: url('../img/home-banner-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.header-container div{
    flex-grow: 1;
}
.header-text-wrapper{
    background-color: #F0EFE6A3;
    padding: 40px 0px;
    margin-bottom: 30px;
}
.header-text-container{
    text-align: center;
}
.header-title{
    font-weight: 700;
    font-size: 60px;
    color: var(--dark-blue);
}
.header-subtitle{
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 16px;
    max-width: 700px;
    margin: 0px auto;
    margin-top: 20px;
}
.header-btn{
    border-radius: 5px;
    display: block;
    width: 200px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-blue);
    text-align: center;
    background-color: var(--yellow);
}


/* ========== responsive css ========== */
@media(max-width: 1100px){


}