.pic-text-container-2{
    padding: 0px 20px;
}
.pic-text-left p{
    color: var(--dark-red);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.pic-text-left a{
    display: block;
    background-image: url('../img/map.png');
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-text-content {
    max-width: 450px;
    margin-left: 50px;
}
.pic-text-title {
    color: var(--dark-blue);
    font-size: 25px;
}
.pic-text-content {
    max-width: 500px;
}
.pic-text-para {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
article{
    margin: 40px 0px;
  }
@media(max-width: 1000px){
  article{
    margin: 50px 0px;
     }
  .pic-text-content {
    margin-left: 0px;
    }
}
@media(max-width: 500px){
    article{
        margin: 30px 0px;
    }
    .pic-text-left a{
        width: 100%;
    }
    .pic-text-content {
        max-width: 450px;
    }
}