.enroll-form-container{
    max-width: 1200px;
    margin: 70px auto;
    padding: 0px 20px;
}
.enroll-form-container h5{
    font-size: 25px;
    font-weight: 500px;
}
.enroll-form-container p{
    font-size: 16px;
    font-weight: 400;
}
.select{
    width: 100%;
    font-size: 18px;
    display: block;
    margin: 10px auto 25px auto;
    padding: 8px 5px;
    border: 1px solid #cdcdcd;
    /* border-radius: 5px; */
}

.input{
    width: 100%;
    font-size: 18px;
    display: block;
    padding: 8px 5px;
    margin: 10px auto 25px auto;
    border: 1px solid #cdcdcd;
    /* border-radius: 5px; */
}

button{
    background-color: var(--dark-red);
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}


button:hover{
    background-color: var(--dark-blue);
}

.form-field{
    display: inline-block;
    width: 30%;
}
.form-field-10{
    width: 90%;
}
/* .form-field-1{
    width: 160px;
}
.form-field-2{
    width: 240px;
}
.form-field-4{
    width: 160px;
}
.form-field-5{
    width: 160px;
}
.form-field-7{
    width: 45%;
}
.form-field-8{
    width: 45%;
} */

@media(max-width: 1000px){
    .form-field{
        width: 45%;
    }
}
@media(max-width: 700px){
    .form-field{
        width: 100%;
    }
}