@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.common-header{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.common-header-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.common-header-container div{
    flex-grow: 1;
}
.common-header-text-wrapper{
    background-color: #F0EFE6A3;
    padding: 40px 0px;
    margin-bottom: 50px;
}
.common-header-text-container{
    text-align: center;
}
.common-header-title-main{
    font-weight: 700;
    font-size: 60px;
    color: var(--dark-blue); 
    font-family: 'Lobster', cursive;
    margin-bottom: 25px;
}
.common-header-page-title{
    font-weight: 700;
    font-size: 40px;
    color: var(--dark-blue);
}
.common-header-subtitle{
    margin-top: 60px;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 16px;
}
.common-header-btn{
    border-radius: 5px;
    display: block;
    width: 200px;
    margin: 0px auto;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-blue);
    text-align: center;
    background-color: var(--yellow);
}
@media(max-width: 500px){
    .common-header{
        height: 380px;
    }
    .common-header-text-wrapper {
        padding: 2px 0px;
    }
}