/* ======== navbar ========= */

.nav{
    background-color: var(--dark-red);
}
.nav2{
    background-color: var(--white);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
.nav-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.nav-logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo-section img{
    width: 85px;
    height: auto;
    /* position: absolute; */
    /* top: -50px; */
    /* left: 0px; */
}
.nav-logo-section p{
font-size: 30px;
font-weight: 500;
color: var(--white);
margin-left: 15px;
}
.nav-link-section{
    display: flex;
    align-items: center;
    background-color: var;
}
.nav-link{
    text-decoration: none;
    display: inline-block;
}
.nav-link-a{
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 18px;
    margin-right: 30px;
    padding: 5px 8px;
    border-radius: 5px;
}
.nav-link-a:hover{
    background-color: var(--dark-blue);
    color: #ffffff;
}
.nav-link-btn{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 7px;
    border-radius: 3px;
    background-color: var(--white);
    margin-right: 20px;
}
.nav-link-btn:hover{
    background-color: var(--dark-blue);
    color: #ffffff;
}
.nav-menu-icon{
    display: none;
}


/* ========== responsive css ========== */
@media(max-width: 1100px){

    /* ============ navbar ============== */
    .nav-menu-icon{
        display: block;
        font-size: 40px;
        margin-left: auto;
        cursor: pointer;
    }

    .nav-link-section{
        display: none;
    }
    .nav-container{
        position: relative;
    }
    .nav-link-section-show{
        display: flex;
        z-index: 100;
        flex-direction: column;
        position: absolute;
        top: 155px;
        right: 0px;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--white);
        padding: 20px 94px;
      }
    .nav-link-a{
        margin-bottom: 15px;
        color: var(--dark-blue);
    }
    .nav-link-btn{
        background-color: var(--dark-blue);
        color: var(--white);
    }
    .header-text-wrapper {
        padding: 30px 20px;
      }

}

@media(max-width: 800px){
    .nav-logo-section p{
        font-size: 25px;
    }
    .nav-link-btn{
        font-size: 14px;
    }
}
@media(max-width: 700px){
    .btn-container{
        display: none;
    }
}
@media(max-width: 500px){
    .nav-logo-section p{
        font-size: 28px;
    }
    .nav-logo-section img{
        width: 80px;
    }
    .nav-container {
        padding: 20px 20px;
    }
    .nav-link-section-show{
        top: 175px;
    }
    .header-title {
        font-size: 50px;
    }
}