.pic-text-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    margin: 0px auto;
}
.pic-text-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    margin: 0px auto;
}
.pic-text-content{
    max-width: 390px;
}
.pic-text-img{
    width: 530px;
    height: 450px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-text-title{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--dark-red);
}
.pic-text-para{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 18px;
}
.pic-text-para-heading{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
}
.pic-text-btn{
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--dark-blue);
    text-align: center;
    background-color: var(--yellow);
}
.pic-text-section-title{
    margin: 70px 0px 70px 0px;
}
@media(max-width: 1000px){
    .pic-text-container-1{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .pic-text-container-2{
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 20px;
    }
    .pic-text-para {
        margin-bottom: 18px;
      }
    .pic-text-content{
        margin-top: 40px;
        /* text-align: center; */
    }
}
@media(max-width: 500px){
    .pic-text-img{
        width: 100%;
        height: 300px;
    }
}