<footer class="footer-container">
    <div class="footer-wrapper container">
        <div class="footer-content">
            <div class="footer-img-container">
                <img src="../img/academy-logo.png" alt="">
            </div>
            <div class="footer-link-container">
                <a class="footer-link footer-link-a" href="../index.html">Home</a>
                <a class="footer-link footer-link-a" href="../courses.html">Courses</a>
                <a class="footer-link footer-link-a" href="../syllabus.html">Syllabus</a>
                <a class="footer-link footer-link-a" href="../online-class.html">Online Class</a>
                <a class="footer-link footer-link-a" href="../gallery.html">Gallery</a>
                <a class="footer-link footer-link-a" href="../about-us.html">About Us</a>
                <a class="footer-link footer-link-a" href="../contact-us.html">Contact Us</a>
                <a class="footer-link footer-link-a" href="../enroll.html">Enroll Now</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p> 2022 copyright received Sree Sravana Academy</p>
    </div>
</footer>