<nav class="nav">
    <div class="nav-container container">
        <div class="nav-logo-section">
            <img src="../img/academy-logo.png" alt="">
        </div>
        <div class="nav-link-section" id="nav-link">
            <a class="nav-link nav-link-a" href="../index.html">Home</a>
            <a class="nav-link nav-link-a" href="../courses.html">Courses</a>
            <a class="nav-link nav-link-a" href="../syllabus.html">Syllabus</a>
            <a class="nav-link nav-link-a" href="../online-class.html">Online Class</a>
            <a class="nav-link nav-link-a" href="../gallery.html">Gallery</a>
            <a class="nav-link nav-link-a" href="../about-us.html">About Us</a>
            <a class="nav-link nav-link-a" href="../contact-us.html">Contact Us</a>
            <a class="nav-link nav-link-btn" href="../enroll.html">Enroll Now</a>
        </div>
        <i onclick="viewNavLink()" class="fa-solid fa-bars nav-menu-icon"></i>
    </div>
</nav>