<div class="pic-text-container-1 container">
    <img class="pic-text-img" src="../img/home-banner-img.jpg" alt="image">
    <div class="pic-text-right">
        <h2 class="pic-text-title">NEET Foundation</h2>
        <p class="pic-text-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel culpa modi perferendis iste sint, eligendi ex consequatur excepturi asperiores expli.</p>
        <a href="#" class="pic-text-btn">Enroll Now <i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
</div>
<div class="pic-text-container-2 container">
    <div class="pic-text-right">
        <h2 class="pic-text-title">NEET Foundation</h2>
        <p class="pic-text-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel culpa modi perferendis iste sint, eligendi ex consequatur excepturi asperiores expli.</p>
        <a href="#" class="pic-text-btn">Enroll Now <i class="fa-solid fa-circle-arrow-right"></i></a>
    </div>
    <img class="pic-text-img" src="../img/home-banner-img.jpg" alt="image">
</div>